.components{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 20px;
    padding: 10px;
    align-items: center;
    box-shadow: 0 3px 5px;
    height: 420px;
    border-radius: 7px;
}
h2{
    font-size: 25px;
    margin: 5px;
}
img{
    width: 100%;
    height: 200px;
    object-fit:cover;
    margin-bottom: 5px;
}
a{
        padding: 7px;
        text-decoration: none;
        background-color: #f0f0f0;
        color: #333;
        font-size: 15px;
        font-weight: bold;
        cursor: pointer;
        border-radius: 8px;
        margin: 5px;

}

a:hover {
    background-color: #ccc;
    transform: scale(1.08);
  }