
.main{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  padding: 20px;
  margin: 20px;

}
.container{
  display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    margin: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.button{
  padding: 8px 18px;
  background-color: #f0f0f0;
  color: #333;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 8px;
  border: none;
}
.search{
  height: 20px;
  width: 600px;
  padding: 10px;
  margin: 10px;

}

.button:hover {
  background-color: #ccc;
  transform: scale(1.08);
}

.current-page {
  margin:0 50px;
  font-size: 28px;
  font-weight: bold;
  color: #333;
}
h1{
  color: #333;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.newsitem {
  opacity: 0;
  transform: translateY(20px);
  animation: slide-in 1s ease-out forwards;
}

@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}